ul>li>a{
    font-size: 1.3rem;
    margin-top: 10px;
}
ul>li>a:hover{
    background-color: #198754;
    border-radius: 5px;
    color: white!important;
}
ul>li>p{
    font-size: 1.5rem;
    margin-top: 8px;
}